@import 'font-awesome-sprockets';
@import 'font-awesome';

@import 'bootstrap-sprockets';
@import 'bootstrap';

@font-face {
  font-family: 'Lato';
  src: url(asset_path('lato-webfont.eot'));
  src: url(asset_path('lato-webfont.eot?#iefix')) format('embedded-opentype'),
    url(asset_path('lato-webfont.woff2')) format('woff2'),
    url(asset_path('lato-webfont.woff')) format('woff'),
    url(asset_path('lato-webfont.ttf')) format('truetype'),
    url(asset_path('lato-webfont.svg#latoregular')) format('svg');
  font-style: normal;
  font-weight: normal;
}
